<!DOCTYPE html>
<html lang="en">
<head>
  <title>OASIS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.svg">
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="/css/pagination.css"/>
  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/lib/uikit/uikit.min.js"></script>
  <script src="/lib/uikit/uikit-icons.min.js"></script>
  <script src="/js/request.js"></script>
  <script src="/js/echarts.min.js"></script>
  <script src="/js/echarts-wordcloud.min.js"></script>
  <script src="/js/nice-select.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/fontawesome.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/affiliationDetail.js"></script>
  <link rel="stylesheet" href="/css/affiliationDetail.css"/>
</head>
<body>

<div id="preloader">
  <div class="spinner">
    <div class="uil-ripple-css" style="transform:scale(0.29);">
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<!-- HEADER -->
<div class="ev-header-1 uk-visible@m">
  <!-- TOP NAVBAR -->
  <nav class="ev-nav uk-navbar-container uk-padding-small">
    <div class="ev-container" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo uk-margin-medium-right" href="/">
          <img alt="Image" src="/img/logo.png">
        </a>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="rank">Rank</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END TOP NAVBAR -->
</div>
<!-- END HEADER -->

<!-- MOBILE HEADER -->
<nav class="ev-mobile-nav uk-navbar-container uk-padding uk-hidden@m" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-button uk-button-link ev-button" href="#sidemenu" uk-toggle>
      <i class="fas fa-bars"></i>
    </a>
  </div>
  <div class="uk-navbar-center">
    <a class="uk-navbar-item uk-logo" href="/">
      <img alt="Image" src="/img/logo.png">
    </a>
  </div>
</nav>
<!-- END MOBILE HEADER -->

<!-- SCROLL BALL -->
<a class="scroll-ball" uk-scroll><i class="fas fa-angle-up"></i></a>
<!-- SCROLL BALL -->

<!-- BREADCRUMBS -->
<div class="ev-breadcrumbs">
  <ul class="uk-breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="uk-disabled"><a>Affiliation List</a></li>
    <li class="uk-disabled"><a>Affiliation Detail</a></li>
  </ul>
</div>
<!-- END BREADCRUMBS -->


<!-- PAGE CONTENT -->

<div class="ev-page-container">
  <div class="ev-single-property uk-grid-large" uk-grid>

    <div class="uk-width-expand@m">

      <div class="ev-details">

        <h3 id="affiliation_name" class="ev-title uk-text-truncate">Affiliation Detail</h3>

        <hr>

        <form class="none uk-grid-small uk-margin-medium-top" uk-grid>

          <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-5@m">
            <div class="uk-margin">
              <div class="uk-width-1-1 uk-inline">
                <b>Country: </b>
                <span id="country" style="float:right"></span>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-5@m"></div>

          <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-5@m">
            <div class="uk-margin">
              <div class="uk-width-1-1 uk-inline">
                <b>Heat: </b>
                <span id="heat" style="float:right"></span>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-5@m"></div>

          <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-5@m">
            <div class="uk-margin">
              <div class="uk-width-1-1 uk-inline">
                <b>Reference Count: </b>
                <span id="reference_count" style="float:right"></span>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-1-1@s uk-width-2-5@m"></div>

          <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-5@m">
            <div class="uk-margin">
              <div class="uk-width-1-1 uk-inline">
                <b>Author Count: </b>
                <span id="author_count" style="float:right"></span>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-5@m"></div>

          <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-5@m">
            <div class="uk-margin">
              <div class="uk-width-1-1 uk-inline">
                <b>Document Count: </b>
                <span class='text-info' id="document_count" style="float:right"></span>
              </div>
            </div>
          </div>

        </form>

        <h5 class="uk-heading-line uk-text-bold"><span>Graphs</span></h5>

        <div class="ev-container">
          <div class="ev-featured-posts" uk-grid>

            <div class="ev-featured-city-2 uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s">
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <div id="charts1" scrolling="yes" class="ev-graph uk-cover-container uk-height-medium">
                  </div>
                </div>

                <div class="uk-card-body" id="cloud-text">
                  <span class="uk-card-title">Word Cloud</span>
                </div>
              </div>
            </div>

            <div class="ev-featured-city-2 uk-width-1-2@l uk-width-1-2@m uk-width-1-2@s">
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <div id="charts2" scrolling="yes" class="ev-graph uk-cover-container uk-height-medium">
                  </div>
                </div>

                <div class="uk-card-body">
                  <span class="uk-card-title">Papers Per Year</span>
                </div>
              </div>
            </div>

          </div>
        </div>

        <h5 class="uk-heading-line uk-text-bold"><span>Top Articles</span></h5>

        <ul class="ev-plans" uk-accordion>
          <li class="">
            <a class="uk-accordion-title uk-text-center" href="#">Click to Look!</a>
            <div class="uk-accordion-content" id="reference-container"></div>
          </li>
        </ul>

        <h5 class="uk-heading-line uk-text-bold"><span>Top Authors</span></h5>

        <div class="uk-column-1-1">

          <div class="uk-overflow-auto">

            <table id="tableContent" class="uk-table uk-table-middle uk-table-striped uk-table-hover">
              <thead>
              <tr>
                <th class="uk-width-large">Author</th>
                <th>Paper Count</th>
                <th>Heat</th>
              </tr>
              </thead>
              <tbody class="author"></tbody>
            </table>
            <div class="c-pages">
              <div class="cp-item">
                <span>共</span>
                <span id="cp-count">0</span>
                <span>条</span>
              </div>
              <div class="cp-item">
                <span id="curr-page">1</span>
                <span>/</span>
                <span id="total-page">100</span>
                <span>页</span>
              </div>
              <div class="uk-grid-collapse" uk-grid>
                <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-6@m"></div>
                <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-3@m">
                  <div class="uk-margin">
                    <div class="uk-width-1-1 uk-inline">
                      <div class="cp-item">
                        <button id="home" class="uk-button uk-button-default">首页</button>
                        <button id="prev" class="uk-button uk-button-default">上页</button>
                        <button id="next" class="uk-button uk-button-default">下页</button>
                        <button id="last" class="uk-button uk-button-default">尾页</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-3@m">
                  <div class="uk-margin">
                    <div class="uk-width-1-1 uk-inline">
                      <div class="cp-item">
                        <button id="goTo" class="uk-button uk-button-default">转到</button>
                        <input type="number" id="goToPage" class="uk-input"
                               style="width:50%!important;"/>
                        <span>页</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-width-1-1 uk-width-1-1@s uk-width-1-6@m"></div>
              </div>
            </div>
          </div>

        </div>

      </div> <!-- END PROPERTY DETAILS -->

    </div> <!-- END EXPAND SECTION -->

  </div>
</div>

<!-- END PAGE CONTENT -->


<!-- FOOTER -->
<div class="ev-footer">

  <div class="ev-copyright">
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
          © Copyright 2020 OASIS, Inc. Nanjing University..
        </div>
        <div class="uk-width-1-1 uk-width-1-2@m uk-flex-center uk-flex-right@m uk-visible@s">
          <ul class="uk-subnav uk-flex-center uk-flex-right@m">
            <li><a href="https://github.com/xjbCHI">Home</a></li>
            <li><a href="https://github.com/xjbCHI/SadCHI/issues">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- END FOOTER -->


<!-- SIDE MENU -->
<div class="ev-sidemenu" id="sidemenu" uk-offcanvas="overlay: true;">

  <div class="uk-offcanvas-bar uk-section-primary uk-flex uk-flex-column">

    <p class="uk-nav-header">Main Menu</p>

    <ul class="ev-main-menu uk-nav-default uk-nav-parent-icon uk-margin-small-bottom" uk-nav>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="rank">Rank</a>
      </li>
    </ul>

    <p class="uk-nav-header">Star Us</p>

    <ul class="ev-followus uk-iconnav uk-margin-small-bottom">
      <li>
        <a href="https://github.com/xjbCHI/SadCHI" uk-icon="icon: github"></a>
      </li>
    </ul>
  </div>

</div>
<!-- END SIDE MENU -->


<script src="/js/nice-select.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/fontawesome.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
